<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
    <form action="/posting" method="post">
        <fieldset>
            <legend>Posting</legend>
            Title : <input type="text" name="title"><br>
            Writer : <input type="text" name="author"><br>
            <textarea rows = "5" cols = "40" name="content"></textarea>

            <br>
            <input type="submit" value="Post">
        </fieldset>
    </form>
</body>
</html>